<html>
<head>
<title>403</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
<style>
    h1{
    font-size:150px;
    font-weight:800;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    }
    h2
    {
    font-size:50px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-top:-40px;
    }
    p{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    }

    .container
    {
    width:300px;
    margin: 0 auto;
    margin-top:5%;
    }
</style>
</head>
<body>
    <div class="container">
        <h1>403</h1>
        <h2>Access Forbidden</h2>
        <p>Access to this page is forbidden. Go to <a href="{{ url_for('component_choice') }}">Home Page.</a></p>
    </div>
</body>
</html>
