 <!DOCTYPE html>
{% extends "change_detection/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Mapping Impact Details{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="container-fluid">
    <div class="row py-2">
        <div class="col-2 p-3">
            <h5>Mapping ID: {{ mapping_id }}</h5>
        </div>
        <div class="col-8 p-3 text-center">
            <h2>Mapping-Source Data Change Relations</h2>
        </div>
        <div class="col-2 p-3">
            <a href="{{ url_for('static', filename='user_files/mappings/%s/%s' % (user_id, mapping_filename)) }}">
                <button class="btn btn-sm btn-secondary">Download Mapping</button>
            </a>
        </div>
    </div>
    {% set accordion_counter = namespace(value=0) %}
    {% set middle_div_counter = namespace(value=0) %}
    {% set inner_div_counter = namespace(value=0) %}
    {% set outer_div_counter = namespace(value=0) %}
    {% for captured_change_type, captured_changes in mapping_impact.items() %}
    <div class="row mt-4">
        {% set change_type_title = captured_change_type.split('_')|join(' ') %}
        <h4>{{ change_type_title | title}}
            <span class="tt" data-bs-placement="top" title="Changes to the columns of the source data">
                    <i class="bi bi-info-circle W-50" style="font-size: 20px;"></i>
                </span>
        </h4>
    </div>
    <div class="row">
        <div id="accordion-{{accordion_counter.value}}">
            <div class="card-0">
                <div class="card-header" id="sourceDataHeading-{{outer_div_counter.value}}">
                    <h5 class="mb-0">
                        <button class="btn collapsed" onclick="return changeIcon('sourceDataHeading-{{outer_div_counter.value}}');" data-bs-toggle="collapse" data-bs-target="#sourceDataCollapse-{{outer_div_counter.value}}" aria-expanded="false" aria-controls="sourceDataCollapse-{{outer_div_counter.value}}">
                            <strong>Source Data: </strong>
                            {{ change_graph_details.get("change_sources").get("previous_version").split("/")[-1] }}
                            <!--                            , {{ change_graph_details.get("change_sources").get("current_version").split("/")[-1] }}-->
                            <i id="icon-sourceDataHeading-{{outer_div_counter.value}}" class="bi bi-plus-circle px-3"></i>
                        </button>
                    </h5>
                </div>
                <div id="sourceDataCollapse-{{outer_div_counter.value}}" class="collapse in" aria-labelledby="dataReferenceHeading-{{outer_div_counter.value}}" data-bs-parent="#sourceDataCollapse-{{outer_div_counter.value}}">
                    <div class="card-body">
                        {% for change_type, changes in captured_changes.items() %}
                        {% set middle_div_counter.value = outer_div_counter.value + 1 %}
                        <div class="card-2">
                            <div class="card-header" id="sourceDataHeading-{{middle_div_counter.value}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-{{change_template_colors.get(change_type)}} collapsed" onclick="return changeIcon('sourceDataHeading-{{middle_div_counter.value}}');" data-bs-toggle="collapse" data-bs-target="#sourceDataCollapse-{{middle_div_counter.value}}" aria-expanded="false" aria-controls="sourceDataCollapse-{{middle_div_counter.value}}">
                                        <strong>{{ change_type }} changes</strong>
                                        <i id="icon-sourceDataHeading-{{middle_div_counter.value}}" class="bi bi-plus-circle px-3"></i>
                                    </button>
                                </h5>
                            </div>
                            {% set inner_div_counter.value = middle_div_counter.value + 1 %}
                            <div id="sourceDataCollapse-{{middle_div_counter.value}}" class="collapse" aria-labelledby="dataReferenceHeading-{{middle_div_counter.value}}" data-bs-parent="#sourceDataCollapse-{{middle_div_counter.value}}">
                                <div class="card-body">
                                    {% set reference_changes = mapping_impact.get(captured_change_type) %}
                                    {% set current_changes = reference_changes.get(change_type).items() %}
                                    {% if current_changes %}
                                    {% for reference, values in current_changes %}
                                    <div class="card-{{inner_div_counter.value}}">
                                        <div class="card-header" id="sourceDataHeading-{{inner_div_counter.value}}">
                                            <h5 class="mb-0">
                                                <button class="btn collapsed" onclick="return changeIcon('sourceDataHeading-{{inner_div_counter.value}}');" data-bs-toggle="collapse" data-bs-target="#sourceDataCollapse-{{inner_div_counter.value}}" aria-expanded="false" aria-controls="sourceDataCollapse-{{inner_div_counter.value}}">
                                                    {% if captured_change_type == "structural_changes" %} {{change_type_banners.get(change_type)}}:{% endif %}
                                                    <strong>{{reference}}</strong> | Change Count: {{values|length}}
                                                    <i id="icon-sourceDataHeading-{{inner_div_counter.value}}" class="bi bi-plus-circle px-3"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="sourceDataCollapse-{{inner_div_counter.value}}" class="collapse" aria-labelledby="dataReferenceHeading-{{inner_div_counter.value}}" data-bs-parent="#sourceDataCollapse-{{inner_div_counter.value}}">
                                            <div class="card-body">
                                                {% if captured_change_type != "structural_changes" and change_type == 'delete'  %}
                                                <form id="new-reference-form" name="new-reference-form" method="POST" action=".">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            {% set inserted_references = mapping_impact.get("structural_changes").get("insert") %}
                                                            <select class="form-select" id="new-reference-selected" name="new-reference-selected" style="background-color: #E6EEF7;" aria-label="Default select example">
                                                                <option selected>Select a new reference</option>
                                                                {% for new_references, values in inserted_references.items() %}
                                                                {% if new_references not in ['machine'] %}
                                                                {% set similarity_score = similarity_measurement(reference, new_references)   %}
                                                                <option value="{{new_references}}-{{reference}}">{{new_references}} ({{ '{:.1%}'.format(similarity_score|float) }})</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-1">
                                                            <input type="submit" value="Update Mapping" class="btn btn-secondary float-left"/>
                                                        </div>
                                                    </div>
                                                    <div class="row m-2" id="update-banner" style="display:none;">
                                                        <div class="alert alert-success text-center w-50" role="alert">
                                                            <h5 class="alert-heading">Updated Mapping Generated</h5>
                                                            <p>Press the button 'Download Updated Mapping' to retrieve the mapping with updated data references.
                                                                <a href="{{ url_for('static', filename='user_files/mappings/%s/%s' % (user_id, mapping_filename)) }}" class="btn btn-sm mx-2 btn-secondary">
                                                                    Download Updated Mapping
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </form>
                                                {% endif %}
                                                <strong>Values</strong>
                                                {% if values|length > 0 %}
                                                <ul class="list-group">
                                                    {% for changed_value in values %}
                                                    <li class="list-group-item">{{changed_value}}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <ul class="list-group">
                                                    <li class="list-group-item">No values</li>
                                                </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% set inner_div_counter.value = inner_div_counter.value + 1 %}
                                    {% endfor %}
                                    {% else %}
                                    No changes
                                    {% endif %}
                                </div>
                            </div>
                            {% set outer_div_counter.value = inner_div_counter.value  + 1  %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">

    </div>

</div>
{% set accordion_counter.value = accordion_counter.value + 1 %}
{% endfor %}

<script type="text/javascript">
    $(document).on('submit','#new-reference-form',function(e) {
      console.log('hello');
      e.preventDefault();
      $("#update-banner").css("display", "block");
      $.ajax({
        type:'POST',
        url:'/mappings_impacted/{{mapping_id}}',
        data:{
          new_reference:$("#new-reference-selected").val()
        },
        success:function()
        {
          alert('saved');
        }
      })
    });
</script>
<script>
    $('.collapse').collapse()
</script>
{% endblock %}
</body>
</html>













