{% extends "change_detection/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Mapping Impact Details{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="container-fluid">
    <div class="row py-2">
        <div class="col-2 p-3">
            <h5>Mapping ID: {{ mapping_id }}</h5>
        </div>
        <div class="col-8 p-3 text-center">
            <h2>Mapping-Source Data Change Relations</h2>
        </div>
        <div class="col-2 p-3">
            <a href="{{ url_for('download_impacted_mapping', mapping_filename='sample_mapping.ttl') }}" class="btn btn-secondary">Download Mapping</a>
        </div>
    </div>
    <div class="row">
        <h4>Structural Changes
            <span class="tt" data-bs-placement="top" title="Changes to the columns of the source data">
                    <i class="bi bi-info-circle" ></i>
                </span>
        </h4>
    </div>

    {% set accordion_counter = namespace(value=0) %}
    {% set middle_div_counter = namespace(value=0) %}
    {% set inner_div_counter = namespace(value=0) %}
    {% set outer_div_counter = namespace(value=0) %}
    {% for captured_change_type, captured_changes in mapping_impact.items() %}
    <div class="row">
        <div id="accordion-{{accordion_counter.value}}">
            <div class="card-0">
                <div class="card-header" id="sourceDataHeading-{{outer_div_counter.value}}">
                    <h5 class="mb-0">
                        <button class="btn collapsed" onclick="return changeIcon('sourceDataHeading-{{outer_div_counter.value}}');" data-bs-toggle="collapse" data-bs-target="#sourceDataCollapse-{{outer_div_counter.value}}" aria-expanded="false" aria-controls="sourceDataCollapse-{{outer_div_counter.value}}">
                            <strong>Source Data: </strong>
                            {{ change_graph_details.get("change_sources").get("current_version").split("/")[-1] }}
                            <i id="icon-sourceDataHeading-{{outer_div_counter.value}}" class="bi bi-plus-circle px-3"></i>
                        </button>
                    </h5>
                </div>
                <div id="sourceDataCollapse-{{outer_div_counter.value}}" class="collapse" aria-labelledby="dataReferenceHeading-{{outer_div_counter.value}}" data-bs-parent="#dataReferenceCollapse-{{outer_div_counter.value}}">




                    <div class="card-body">
                        {% for change_type, changes in captured_changes.items() %}
                        {% set middle_div_counter.value = outer_div_counter.value + 1 %}
                        <div class="card-2">
                            <div class="card-header" id="sourceDataHeading-{{middle_div_counter.value}}">
                                <h5 class="mb-0">
                                    <button class="btn btn-success collapsed" onclick="return changeIcon('sourceDataHeading-{{middle_div_counter.value}}');" data-bs-toggle="collapse" data-bs-target="#sourceDataCollapse-{{middle_div_counter.value}}" aria-expanded="false" aria-controls="sourceDataCollapse-{{middle_div_counter.value}}">
                                        <strong>Insert: {{ change_type }} </strong>
                                        <i id="icon-sourceDataHeading-{{middle_div_counter.value}}" class="bi bi-plus-circle px-3"></i>
                                    </button>
                                </h5>
                            </div>
                            {% set inner_div_counter.value = middle_div_counter.value + 1 %}
                            <div id="sourceDataCollapse-{{middle_div_counter.value}}" class="collapse" aria-labelledby="dataReferenceHeading-{{middle_div_counter.value}}" data-bs-parent="#dataReferenceCollapse-{{middle_div_counter.value}}">
                                <div class="card-body">
                                    {% set reference_changes = mapping_impact.get(captured_change_type) %}
                                    {% for reference, values in reference_changes.get("insert").items() %}
                                    <div class="card-{{inner_div_counter.value}}">

                                        <div class="card-header" id="sourceDataHeading-{{inner_div_counter.value}}">
                                            <h5 class="mb-0">
                                                <button class="btn collapsed" onclick="return changeIcon('sourceDataHeading-{{inner_div_counter.value}}');" data-bs-toggle="collapse" data-bs-target="#sourceDataCollapse-{{inner_div_counter.value}}" aria-expanded="false" aria-controls="sourceDataCollapse-{{inner_div_counter.value}}">
                                                    <strong>{{reference}} | Change Count: {{values|length}}</strong>
                                                    <i id="icon-sourceDataHeading-{{inner_div_counter.value}}" class="bi bi-plus-circle px-3"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="sourceDataCollapse-{{inner_div_counter.value}}" class="collapse" aria-labelledby="dataReferenceHeading-{{inner_div_counter.value}}" data-bs-parent="#dataReferenceCollapse-{{inner_div_counter.value}}">
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    {% for changed_value in values %}
                                                    <li class="list-group-item">{{changed_value}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% set inner_div_counter.value = inner_div_counter.value + 1 %}

                                    {% endfor %}


                                </div>
                            </div>
                            {% set outer_div_counter.value = inner_div_counter.value  + 1  %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
  {% set accordion_counter.value = accordion_counter.value + 1 %}
    {% endfor %}

    <script>
    $('.collapse').collapse()
</script>
    {% endblock %}
</body>
</html>













