<!DOCTYPE html>
{% extends "change_detection/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Mapping Impact Details{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="container-fluid">
    <div class="row py-2">
        <div class="col-2 p-3">
            <h5>Mapping ID: {{ mapping_id }}</h5>
        </div>
        <div class="col-8 p-3 text-center">
            <h2>Mapping-Source Data Change Relations</h2>
        </div>
        <div class="col-2 p-3">
            <a href="{{ url_for('download_impacted_mapping', mapping_filename='sample_mapping.ttl') }}" class="btn btn-secondary">Download Mapping</a>
        </div>
    </div>
    {{ mappings_impacted }}
    <div class="row">
        <h4>Structural Changes
            <span class="tt" data-bs-placement="top" title="Changes to the columns of the source data">
                    <i class="bi bi-info-circle" ></i>
                </span>
        </h4>
    </div>

    <div class="row">
        <div id="accordion-20">
            <div class="card">
                <div class="card-header" id="sourceDataHeading--20">
                    <h5 class="mb-0">
                        <button class="btn collapsed" onclick="return changeIcon('sourceDataHeading--20');" data-bs-toggle="collapse" data-bs-target="#sourceDataCollapse-20" aria-expanded="false" aria-controls="sourceDataCollapse-20">
                            <strong>Source Data: </strong>
                            student.csv
                            <i id="icon-sourceDataHeading--20" class="bi bi-plus-circle px-3"></i>
                        </button>
                    </h5>
                </div>
                <div id="sourceDataCollapse-20" class="collapse" aria-labelledby="dataReferenceHeading-20" data-bs-parent="#dataReferenceCollapse-20">
                <div class="card-body">
                    fjdj
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.collapse').collapse()
</script>
{% endblock %}
</body>
</html>













