 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Register</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand d-flex mx-auto  p-3 text-uppercase fw-bold" href="{{ url_for('login') }}"><span class="mb-0 h3">Mapping Quality Improvement (MQI) Framework</span></a>
</nav>

<form method="POST"  action="{{ url_for('register') }}" class="register-form">
    <div class="container-bg">
        <div class="container w-25  bg-light pe-4 pb-4">
            <h4 class="mt-4">User Registration</h4>
            <p>The following user ID and password has been created for you. <strong>Please save these details for later use.</strong></p>
            <label for="user_id" class="form-label">User ID</label>
            <input  placeholder="User ID" value="{{new_user_id}}" type="text" class="participant_id form-control"  id="user_id" name="user_id" readonly>
            <label for="password" class="form-label  mt-3">Password</label>
            <input  placeholder="password" value="{{new_password}}" type="text" class="participant_id form-control"  id="password" name="password" readonly>
            <input type="submit" value="Complete Registration" id="submit" class="btn btn-primary center-block my-2">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-danger mt-3"  role="alert">
                <h4 class="alert-heading">Information </h4>
                <p>{{msg}}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</form>
</body>
</html>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<script>
    const tooltips = document.querySelectorAll(".tt")
    tooltips.forEach ( t=> {
       new bootstrap.Tooltip(t)
    })
</script>
