{% extends "mapping_quality/base_withdraw.html" %}
<head>
<title>{% block title %}Information Sheet{% endblock %}</title>
</head>

<style>
 body,html {
  height: 100%;
}
.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

</style>

<body>

{% block content %}

<div class="alert alert-dark text-center font-weight-bold" role="alert">
  Please read the information sheet and continue to next page
</div>

<div style="height:70vh;">
    <object data="./static/documents/Information Sheet.pdf" type="application/pdf" width="100%" height="100%" >
  <p>It appears you don't have a PDF plugin for this browser.
   No biggie... you can <a href="Information Sheet.pdf">click here to
  download the PDF file.</a></p>
</object>
</div>



<div class="container-fluid" style="height:10h">
    <div class="row">
        <div class="col-sm-12">
               <button id="lg" style="font-size:175%" type="button" onclick="window.location.href='{{ url_for( 'informed_consent') }}';" class="btn btn-lg btn-light border border-dark float-end  mx-4 mt-2" >
   Next page
   </button>
        </div>
    </div>
</div>



{% endblock %}



</body>
